@model HospitalApplicationFirst.Models.ViewModels.LoginModel

<script>
    function changeStyleDiv() {
        document.getElementById('modal').style.display = 'block !important';
        document.getElementById('black_fill').style.display = 'block !important';
    }
</script>



<form id="login" method="post" action="~/Account/Login">
    <h1>Sign In</h1>
    <fieldset id="inputs">
        <input id="username" placeholder="Email" name="Email" autofocus="" required="" type="text">
        <input id="password" placeholder="Password" name="Password" required="" type="password">
    </fieldset>
    <fieldset id="actions">
        <input id="submit" value="Sign In" type="submit">
        <a href="">Forget password?</a><a asp-action="Register" asp-controller="Account">Sign Up</a>
    </fieldset>
</form>