@model HospitalApplicationFirst.Models.ViewModels.RegisterModel



<form id="login" method="post" action="~/Account/Register">
    <h1>Sign Up</h1>
    <fieldset id="inputs">
        <input id="username" placeholder="Firstname" name="Firstname" autofocus="" required="" type="text">
        <input id="username" placeholder="Surname" name="Surname" required="" type="text">
        <input id="username" placeholder="Patronymic" name="Patronymic" required="" type="text">
        <input id="username" placeholder="Email" name="Email" required="" type="text">
        <input id="password" placeholder="Password" name="Password" required="" type="password">
        <input id="password" placeholder="ConfirmPassword" name="ConfirmPassword" required="" type="password">

    </fieldset>
    <fieldset id="actions">
        <input id="submit" value="Sign Up" type="submit">
        <a href="">Are you already registered?</a><a asp-action="Login" asp-controller="Account">Sign In</a>
    </fieldset>
</form>