@{
    ViewBag.Title = "Home Page";
}

@using HospitalApplicationFirst.Models.ViewModels

@model IndexViewModel

@{
    foreach (var item in Model.Users)
    {
        <h1><a href="home/employee/@item.Id">@item.Id</a></h1>
        <h1>@item.Firstname</h1>
        <h1>@item.Surname</h1>
        <h1>@item.Patronymic</h1>
    }
}
